extends ../layouts/simple

block content
    #reset-password
        form
            fieldset
                legend= title
                input(name='email',type='email',placeholder=email)
                p
                button(type='submit')= submit
    script.
        $('#reset-password form').submit(function (event) {
            event.preventDefault();
            let form = $(this);
            $.ajax({
                type: 'post',
                url: '/reset-password',
                data: form.serialize(),
                success: function () {
                    location.replace('/');
                },
                error: function (err) {
                    if(err.status == 400) {
                        $('p').text(err.message);
                    }
                }
            });
        })
