extends ../layouts/simple

block content
    #set-new-password
        form
            fieldset
                legend= title
                input(name='newpassword',type='text',placeholder=newpassword)
                p
                button(type='submit')= submit
    script.
        $('#set-new-password form').submit(function (event) {
            event.preventDefault();
            let form = $(this);
            $.ajax({
                type: 'put',
                url: '',
                data: form.serialize(),
                success: function () {
                    location.replace('/');
                },
                error: function (err) {
                    if(err.status == 400) {
                        $('p').text(err.message);
                    }
                }
            });
        })
