doctype
html
	head
		title= title
		block styles
			link(rel="stylesheet",type="text/css",href="/default/semantic/semantic.css")
			link(rel="stylesheet",type="text/css",href="/default/css/admin.css")
		block scripts head
			script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
			script(src="/default/semantic/semantic.min.js")
	body.ui.middle.aligned.center.aligned.grid
		block content
